body {
  background-image: url("img/background.jpg");
  background-size: cover;
  color: white;
  font-family: 'Schoolbell', cursive;
  text-align: center;
}

#word {
  color: black;
}

a {
  color: white;
}
