<h1>Add a word</h1>
<p>Add a word in the input box below. If your word was logged successfully, you will see a "Success!" page upon clicking the "Add Word" button. Additional entries will be added to your current list. </p>
<br>
<br>
<br>
<br>
<p>Add a word here:</p>
<br>
<br>
<br>
<form action="/entries" method="post">
  <label for="word">Word:</label>
  <input type="text" name="word" id="word">
  <button type="submit" class="btn btn-success">Add Word</button>
</form>
