<h1>$entry.getWord() definitions:</h1>
<br>
<br>
<br>
<br>
<br>
<ol>
  #foreach($definition in $entry.getDefinitions())
    <li>$definition.getMeaning()</li>
    #end
</ol>
<br>
<br>
<br>
<a href="/entries/$entry.getId()/definitions/new">Add a new definition</a>
<br>
<br>
<a href="/entries">All words</a>
