<h1>Personal Dictionary</h1>
<p>Create your own personal dictionary! Here, you can add words with as many definitions that each word may have. You can use this site to remember real-world words and definitions you may need to reference later, or you can create and log the vocabulary for your own new language! Use the "Add" or "View" links below to create a list or view it.</p>
<br>
<br>
<br>
<br>
<a href="/entries/new">Add a New Word</a>
<br>
<br>
<br>
<a href="/entries">View Word List</a>
